<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xufengtian14.badwiki.mapper.IDocContentMapper">

    <resultMap id="docContentMap" type="com.github.xufengtian14.badwiki.model.DocContent">
        <id property="id" column="id"></id>
        <result property="docId" column="doc_id"></result>
        <result property="docName" column="doc_name"></result>
        <result property="docContent" column="doc_content"></result>
    </resultMap>

    <select id="seleteDocContentByDocId" resultMap="docContentMap">
        SELECT *
        from doc_content
        where doc_id = #{doc_id}
    </select>

    <update id="updateDocContentByDocId">
        update doc_content
        set
        <if test="docName != null and docName != ''">
            doc_name = #{docName}
        </if>
        <if test="docContent != null and docContent != ''">
            doc_content = #{docContent}
        </if>
        doc_id = #{docId}
        where doc_id = #{docId}
    </update>

    <insert id="insertDocContent" useGeneratedKeys="true" keyProperty="id">
        insert doc_content ( doc_id, doc_name, doc_content )
        values ( #{docId}, #{docName}, #{docContent} )
    </insert>

    <delete id="deleteDocContentByDocId">
        delete from doc_content
        where doc_id = #{doc_id}
    </delete>
</mapper>