<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xufengtian14.badwiki.mapper.DocContentMapper">

    <resultMap id="docMap" type="com.github.xufengtian14.badwiki.model.DocContent">
        <id property="id" column="id"></id>
        <result property="docId" column="doc_id"></result>
        <result property="docName" column="doc_name"></result>
        <result property="docContent" column="doc_content"></result>
    </resultMap>

    <select id="seleteDocContentByDocId" resultMap="docMap">
        SELECT *
        from user
        where doc_id = #{doc_id};
    </select>

</mapper>