<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xufengtian14.badwiki.mapper.DocMapper">

    <resultMap id="docMap" type="com.github.xufengtian14.badwiki.model.Doc">
        <id property="id" column="id"></id>
        <result property="spaceId" column="space_id"></result>
        <result property="name" column="name"></result>
        <result property="size" column="size"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="hasChild" column="has_child"></result>
        <result property="editor" column="editor"></result>
        <result property="editTime" column="edit_time"></result>
        <result property="deleted" column="deleted"></result>
        <result property="creator" column="creator"></result>
        <result property="createTime" column="create_time"></result>
        <result property="modifier" column="modifier"></result>
        <result property="modifyTime" column="modify_time"></result>
    </resultMap>

    <select id="seleteDocById" resultMap="docMap">
        SELECT * from doc
        where id = #{id};
    </select>

</mapper>