<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xufengtian14.badwiki.mapper.IMediaMapper">

    <resultMap id="mediaMap" type="com.github.xufengtian14.badwiki.model.Media">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="path" column="path"></result>
        <result property="url" column="url"></result>
        <result property="isImg" column="is_img"></result>
    </resultMap>

    <select id="seleteMediaById" resultMap="mediaMap">
        SELECT * from media
        where id = #{id}
    </select>

    <insert id="insertMedia" useGeneratedKeys="true" keyProperty="id">
        insert media (name, path, url, is_img)
        values ( #{name}, #{path}, #{url}, #{isImg} )
    </insert>

    <delete id="deleteMediaById">
        delete from media
        where id = #{id}
    </delete>
</mapper>