<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xufengtian14.badwiki.mapper.IRoleMapper">

    <resultMap id="roleMap" type="com.github.xufengtian14.badwiki.model.Role">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="note" column="note"></result>
        <result property="deleted" column="deleted"></result>
    </resultMap>

    <select id="seleteRoleById" resultMap="roleMap">
        SELECT * from role
        where id = #{id};
    </select>

</mapper>