<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xufengtian14.badwiki.mapper.ISpaceAreaMapper">

    <resultMap id="spaceMap" type="com.github.xufengtian14.badwiki.model.SpaceArea">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="note" column="note"></result>
    </resultMap>

    <select id="seleteSpace" resultMap="spaceMap">
        SELECT * from space
    </select>

    <select id="seleteSpaceById" resultMap="spaceMap">
        SELECT * from space
        where id = #{id}
    </select>

    <update id="updateSpaceById">
        update space
        set
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="note != null and note != ''">
            note = #{note},
        </if>
        id = #{id}
        where id = #{id}
    </update>

    <insert id="insertSpace" useGeneratedKeys="true" keyProperty="id">
        insert role (name, note)
        values ( #{name}, #{note} )
    </insert>

    <delete id="deleteSpaceById">
        delete from space
        where id = #{id}
    </delete>

    <select id="selectSpaceByUserIdAndSpacePermId" resultMap="spaceMap">
        SELECT space.* from space
        inner join space_role on space_role.space_id = space.id
        inner join role on role.id = space_role.role_id
        inner join user_role on user_role.role_id = role.id
        inner join user on user.id = user_role.user_id
        where user.id = #{user_id} and user.deleted = false
          and user_role.deleted = false and role.deleted = false
          and space_role.space_perm_id = #{space_perm_id} and space_role.deleted = false
    </select>

</mapper>